@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css")

@media screen and (min-width: 601px) {
    #nav li {
    display: block;
    }
}


body{
 color: #232020;
 background: #f4f4f4;
}
#banner{
    background-color: #ff7315;
    color: #f4f4f4;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 40px;
}

nav{
    background: #ff7315;
    text-align: right;
    padding-top: 10px;
    padding-bottom:6px;
}

#nav li{
    display: inline;
    font-size: 30px;
    padding-right: 15px;
}

#nav li a{
color: #3a3535;
}
#nav li a:hover:none{
    background: #f4f4f4;
    padding-right: 15px;
}
#nav li a:hover{
    background: #f4f4f4;
    color: #ff7315;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a {
    color: black;
}
.page-title h2{
    padding-top: 20px;
}

.home-content h4{
font-family: monospace;
}

.contact-info h1{
    margin-top: 100px;
    text-align: center;
}

.contact-info i{
    font-size: 100px;
    color: #3a3535;
    margin-left: 30px;
}
.about h3{
    font-weight: 800;
}
.about a{
    text-decoration: underline;
}
.about-skills h1 i{
    font-size: 50px;
    color: #ff7315;
}
.about li{
    font-size: 14px;
}
#contact-me{
    color: #f4f4f4;
    padding-top: 20px;
    background: #3a3535;
    max-width: 400px;
}
#contact-me h4{
    align: center;
}
#contact-me a {
    color: #f4f4f4;
}
footer {
    position: absolute;
    bottom: 30px;
    right: 20px;
}
